
<!DOCTYPE html>

<html>
<head>
    <title>按钮 - 在线演示 - layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link href="~/css/code.css" rel="stylesheet" />
    <link href="~/css/layui.css" rel="stylesheet" />
    <link href="~/lib/layui/css/global.css" rel="stylesheet" />

    <style>
      
    </style>

</head>

    <body class="site-mobile">
        <div class="layui-layout layui-layout-admin">

            <div class="layui-header header header-demo" winter="">
                <div class="layui-main">
                    <a class="logo" href="https://www.layui.com/">
                        <img src="~/logo.png" alt="layui">
                    </a>
                    <div class="layui-form component" lay-filter="LAY-site-header-component"><select lay-search="" lay-filter="component"><option value="">搜索组件或模块</option><option value="element/layout.html">grid 栅格布局</option><option value="element/layout.html#admin">admin 后台布局</option><option value="element/color.html">color 颜色</option><option value="element/icon.html">iconfont 字体图标</option><option value="element/anim.html">animation 动画</option><option value="element/button.html">button 按钮</option><option value="element/form.html">form 表单组</option><option value="element/form.html#input">input 输入框</option><option value="element/form.html#select">select 下拉选择框</option><option value="element/form.html#checkbox">checkbox 复选框</option><option value="element/form.html#switch">switch 开关</option><option value="element/form.html#radio">radio 单选框</option><option value="element/form.html#textarea">textarea 文本域</option><option value="element/nav.html">nav 导航菜单</option><option value="element/nav.html#breadcrumb">breadcrumb 面包屑</option><option value="element/tab.html">tabs 选项卡</option><option value="element/progress.html">progress 进度条</option><option value="element/collapse.html">collapse 折叠面板/手风琴</option><option value="element/table.html">table 表格元素</option><option value="element/badge.html">badge 徽章</option><option value="element/timeline.html">timeline 时间线</option><option value="element/auxiliar.html#blockquote">blockquote 引用块</option><option value="element/auxiliar.html#fieldset">fieldset 字段集</option><option value="element/auxiliar.html#hr">hr 分割线</option><option value="modules/layer.html">layer 弹出层/弹窗综合</option><option value="modules/laydate.html">laydate 日期时间选择器</option><option value="modules/layim.html">layim 即时通讯/聊天</option><option value="modules/laypage.html">laypage 分页</option><option value="modules/laytpl.html">laytpl 模板引擎</option><option value="modules/form.html">form 表单模块</option><option value="modules/table.html">table 数据表格</option><option value="modules/upload.html">upload 文件/图片上传</option><option value="modules/element.html">element 常用元素操作</option><option value="modules/rate.html">rate 评分</option><option value="modules/colorpicker.html">colorpicker 颜色选择器</option><option value="modules/slider.html">slider 滑块</option><option value="modules/carousel.html">carousel 轮播/跑马灯</option><option value="modules/layedit.html">layedit 富文本编辑器</option><option value="modules/tree.html">tree 树形菜单</option><option value="modules/flow.html">flow 信息流/图片懒加载</option><option value="modules/util.html">util 工具集</option><option value="modules/code.html">code 代码修饰</option></select><div class="layui-form-select"><div class="layui-select-title"><input type="text" placeholder="搜索组件或模块" value="" class="layui-input"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="" class="layui-select-tips">搜索组件或模块</dd><dd lay-value="element/layout.html" class="">grid 栅格布局</dd><dd lay-value="element/layout.html#admin" class="">admin 后台布局</dd><dd lay-value="element/color.html" class="">color 颜色</dd><dd lay-value="element/icon.html" class="">iconfont 字体图标</dd><dd lay-value="element/anim.html" class="">animation 动画</dd><dd lay-value="element/button.html" class="">button 按钮</dd><dd lay-value="element/form.html" class="">form 表单组</dd><dd lay-value="element/form.html#input" class="">input 输入框</dd><dd lay-value="element/form.html#select" class="">select 下拉选择框</dd><dd lay-value="element/form.html#checkbox" class="">checkbox 复选框</dd><dd lay-value="element/form.html#switch" class="">switch 开关</dd><dd lay-value="element/form.html#radio" class="">radio 单选框</dd><dd lay-value="element/form.html#textarea" class="">textarea 文本域</dd><dd lay-value="element/nav.html" class="">nav 导航菜单</dd><dd lay-value="element/nav.html#breadcrumb" class="">breadcrumb 面包屑</dd><dd lay-value="element/tab.html" class="">tabs 选项卡</dd><dd lay-value="element/progress.html" class="">progress 进度条</dd><dd lay-value="element/collapse.html" class="">collapse 折叠面板/手风琴</dd><dd lay-value="element/table.html" class="">table 表格元素</dd><dd lay-value="element/badge.html" class="">badge 徽章</dd><dd lay-value="element/timeline.html" class="">timeline 时间线</dd><dd lay-value="element/auxiliar.html#blockquote" class="">blockquote 引用块</dd><dd lay-value="element/auxiliar.html#fieldset" class="">fieldset 字段集</dd><dd lay-value="element/auxiliar.html#hr" class="">hr 分割线</dd><dd lay-value="modules/layer.html" class="">layer 弹出层/弹窗综合</dd><dd lay-value="modules/laydate.html" class="">laydate 日期时间选择器</dd><dd lay-value="modules/layim.html" class="">layim 即时通讯/聊天</dd><dd lay-value="modules/laypage.html" class="">laypage 分页</dd><dd lay-value="modules/laytpl.html" class="">laytpl 模板引擎</dd><dd lay-value="modules/form.html" class="">form 表单模块</dd><dd lay-value="modules/table.html" class="">table 数据表格</dd><dd lay-value="modules/upload.html" class="">upload 文件/图片上传</dd><dd lay-value="modules/element.html" class="">element 常用元素操作</dd><dd lay-value="modules/rate.html" class="">rate 评分</dd><dd lay-value="modules/colorpicker.html" class="">colorpicker 颜色选择器</dd><dd lay-value="modules/slider.html" class="">slider 滑块</dd><dd lay-value="modules/carousel.html" class="">carousel 轮播/跑马灯</dd><dd lay-value="modules/layedit.html" class="">layedit 富文本编辑器</dd><dd lay-value="modules/tree.html" class="">tree 树形菜单</dd><dd lay-value="modules/flow.html" class="">flow 信息流/图片懒加载</dd><dd lay-value="modules/util.html" class="">util 工具集</dd><dd lay-value="modules/code.html" class="">code 代码修饰</dd></dl></div></div>
                    <ul class="layui-nav">
                        <li class="layui-nav-item ">
                            <a href="https://www.layui.com/doc/">文档<!-- <span class="layui-badge-dot"></span> --></a>
                        </li>
                        <li class="layui-nav-item layui-this">
                            <a href="https://www.layui.com/demo/">示例<!--  --></a>
                        </li>


                        <li class="layui-nav-item layui-hide-xs">
                            <a href="https://fly.layui.com/extend/">扩展</a>
                        </li>
                        <li class="layui-nav-item layui-hide-xs">
                            <a href="https://fly.layui.com/store/">模板<span class="layui-badge-dot"></span></a>
                        </li>

                        <li class="layui-nav-item layui-hide-xs">
                            <a href="https://fly.layui.com/" target="_blank">社区</a>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;">周边<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd class="layui-hide-sm layui-show-xs" lay-unselect="">
                                    <a href="https://fly.layui.com/store/">模板市场</a>
                                </dd>
                                <dd class="layui-hide-sm layui-show-xs" lay-unselect="">
                                    <a href="https://fly.layui.com/extend/">扩展组件</a>
                                </dd>
                                <dd class="layui-hide-sm layui-show-xs" lay-unselect="">
                                    <a href="https://fly.layui.com/" target="_blank">社区交流</a>
                                    <hr>
                                </dd>
                                <dd lay-unselect=""><a href="https://www.layui.com/admin/" target="_blank">后台模板</a></dd>
                                <dd lay-unselect=""><a href="https://www.layui.com/layim/" target="_blank">即时聊天</a><hr></dd>

                                <dd lay-unselect=""><a href="https://www.layui.com/alone.html" target="_blank" lay-unselect="">独立组件</a></dd>
                                <dd lay-unselect=""><a href="https://fly.layui.com/jie/24209/" target="_blank">Axure 组件</a></dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                            <a href="https://www.layui.com/admin/">后台模板<span class="layui-badge-dot"></span></a>
                        </li>
                        <span class="layui-nav-bar"></span>
                    </ul>
                </div>
            </div>
            <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
            <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">

                    <ul class="layui-nav layui-nav-tree site-demo-nav">

                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="javascript:;" href="javascript:;">开发工具<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="https://www.layui.com/demo/">调试预览</a>
                                </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="javascript:;" href="javascript:;">布局<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd class="">
                                    <a href="https://www.layui.com/demo/grid.html">栅格</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/admin.html">后台布局</a>
                                </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="javascript:;" href="javascript:;">基本元素<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd class="layui-this">
                                    <a href="https://www.layui.com/demo/button.html">按钮</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/form.html">表单</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/nav.html">导航/面包屑</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/tab.html">选项卡</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/progress.html">进度条</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/panel.html">面板</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/badge.html">徽章</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/timeline.html">时间线</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/table-element.html">静态表格</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/anim.html">动画</a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/auxiliar.html">辅助元素</a>
                                </dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="javascript:;" href="javascript:;">组件示例<span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd class="">
                                    <a href="https://www.layui.com/demo/layer.html">
                                        弹出层
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/laydate.html">
                                        日期与时间选择
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/layim.html">
                                        即时通讯
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/table.html">
                                        数据表格
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/laypage.html">
                                        分页
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/upload.html">
                                        文件上传
                                    </a>
                                </dd>

                                <dd class="">
                                    <a href="https://www.layui.com/demo/colorpicker.html">
                                        颜色选择器
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="https://www.layui.com/demo/slider.html">
                                        滑块
                                    </a>
                                </dd>

                            </dl>
                        </li>

                        <li class="layui-nav-item" style="height: 30px; text-align: center"></li>
                        <span class="layui-nav-bar"></span>
                    </ul>
                </div>
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
                @*<ul class="layui-tab-title site-demo-title">
                    <li class="layui-this">预览</li>
                    <li>查看代码</li>
                    <li>帮助</li>
                </ul>*@
                <div class="layui-body layui-tab-content site-demo site-demo-body">
                    233333

                    <div class="layui-tab-item layui-show">
                        <div class="layui-main">
                            <div id="LAY_preview">

                            </div>


                        </div>
                    </div>


                    @*<div class="layui-tab-item">
                        <!-- <textarea class="layui-border-box site-demo-text site-demo-code" id="LAY_democode" spellcheck="false" readonly="">&lt;!DOCTYPE html&gt; -->
                        <!-- &lt;html&gt; -->
                        <!-- &lt;head&gt; -->
                        <!-- &lt;meta charset="utf-8"&gt; -->
                        <!-- &lt;title&gt;layui&lt;/title&gt; -->
                        <!-- &lt;meta name="renderer" content="webkit"&gt; -->
                        <!-- &lt;meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"&gt; -->
                        <!-- &lt;meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"&gt; -->
                        <!-- &lt;link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all"&gt; -->
                        <!-- &lt;!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 --&gt; -->
                        <!-- &lt;/head&gt; -->
                        <!-- </textarea> -->
                    </div>*@


                    @*<div class="layui-tab-item">
                        <div class="layui-main">
                            <p>如果“查看代码”中的图标字符显示为：，那是正常的。具体在使用时，请参照【文档-图标字体】将其替换为对应的Unicode 字符。</p>


                            <div style="margin: 15px 0;">
                                <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="6835627838" data-adsbygoogle-status="done"><ins id="aswift_0_expand" style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:970px;background-color:transparent;"><ins id="aswift_0_anchor" style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:970px;background-color:transparent;"><iframe width="970" height="90" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;width:970px;height:90px;" src=""></iframe></ins></ins></ins>
                            </div>


                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                                <legend>相关</legend>
                            </fieldset>
                            <a class="layui-btn layui-btn-normal" href="" target="_blank">按钮文档</a>
                        </div>
                    </div>*@


                </div>
            </div>
        <div class="layui-footer footer footer-demo">
            <div class="layui-main">
                <p>© 2018 <a href="https://www.layui.com/">layui.com</a> MIT license</p>
                @*<!-- <p> -->
                    <!-- <a href="http://fly.layui.com/case/2018/" target="_blank">案例</a> -->
                    <!-- <a href="http://fly.layui.com/jie/3147/" target="_blank">支持</a> -->
                    <!-- <!--<a href="javascript:;" site-event="contactInfo">联系</a>--> -->
                    <!-- <a href="https://github.com/sentsin/layui/" target="_blank" rel="nofollow">GitHub</a> -->
                    <!-- <a href="https://gitee.com/sentsin/layui" target="_blank" rel="nofollow">码云</a> -->
                    <!-- <a href="http://fly.layui.com/jie/2461/" target="_blank">公众号</a> -->
                    <!-- <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">赣ICP备13006272号-2</a> -->
                    <!-- </p> -->*@
                <p class="site-union">
                    <a href="https://www.upyun.com/?from=layui" target="_blank" rel="nofollow" upyun=""></a>
                    <span>提供 CDN 赞助</span>
                </p>
            </div>
        </div>

            <div class="site-tree-mobile layui-hide">
                <i class="layui-icon"></i>
            </div>
            <div class="site-mobile-shade"></div>

        </div>
        @*<iframe id="google_osd_static_frame_9925644898899" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;" src=""></iframe>*@
    </body>
@*<iframe id="google_shimpl" style="display: none;" src=""></iframe>*@
</html>